SMTP_PWD: unthread-symphony-budget
# A random 32-character secret key used to encrypt user sessions
RALLLY_SECRET_PASSWORD: abcdefghijklmnopqrstuvwxyz1234567890
RALLLY_DATABASE_PASSWORD: mumbo-affair-twiddle