general:
  mail:
    it_password: changeme
    comm_password: changeme
  config_dir: changeme

services:
  backup:
    encryption_passphrase: changeme
    repository: ssh://myrepo

  bookstack:
    database:
      password: changeme
      init: /change/me
    keycloak_secret: changeme

  clicketing:
    database:
      password: changeme
      init: /change/me
    admin_token: changeme

  crabfit:
    database:
      password: changeme
      init: /change/me

  directus:
    secret: 00000000-0000-0000-0000-000000000000
    key: 00000000-0000-0000-0000-000000000000
    database:
      password: changeme
      init: /change/me
    keycloak_secret: changeme
    admin_password: changeme

  gamestar-website:
    directus_token: changeme

  keycloak:
    database:
      password: changeme
      init: /change/me
    admin_password: changeme

  mattermost:
    database:
      password: changeme
      init: /change/me

  nextcloud:
    database:
      password: changeme
      init: /change/me

  onlyoffice:
    jwt_secret: changeme

  roboclic:
    telegram_token: changeme
    admin_token: changeme
    directus_token: changeme

  s4s:

  synapse:
    database:
      password: changeme
      init: /change/me
    registration_secret: changeme
    macaroon_secret: changeme
    form_secret: changeme
    keycloak_secret: changeme

  vaultwarden:
    admin_token: changeme
    keycloak_secret: changeme

  webhook:
    secrets_file: /change/me
    user: root
    repository: git@github.com:clicepfl/infra.git
    github:
      secret: changeme
      access_token: changeme
      assignees: '[ "octocat1", "octocat2" ]'

  website:
    directus_token: changeme
