MATTERMOST_DATABASE_PASSWORD: chitchat-cascade-kisser
MATTERMOST_DATABASE_INIT: /change/me
NEXTCLOUD_DATABASE_PASSWORD: handyman-deniable-sadly
NEXTCLOUD_DATABASE_INIT: /change/me
VAULTWARDEN_ADMIN_TOKEN: obsessive-budget-earpiece
WIKI_DATABASE_PASSWORD: unheard-activate-cannabis
WIKI_DATABASE_INIT: /change/me
WIKI_SECRET_KEY: 1234
ROBOCLIC_TOKEN: 1234
ROBOCLIC_ADMIN_TOKEN: 1234
CLICKETING_DATABASE_INIT: /change/me
CLICKETING_DATABASE_PASSWORD: changeme
CLICKETING_ADMIN_TOKEN: changeme
BOOKSTACK_DATABASE_PASSWORD: changeme
BOOKSTACK_DATABASE_INIT: /change/me
COLLABORA_ADMIN_PASSWORD: changeme
DIRECTUS_SECRET: 1234
DIRECTUS_KEY: 1234
DIRECTUS_DATABASE_INIT: /change/me
DIRECTUS_DATABASE_PASSWORD: changeme
DIRECTUS_ADMIN_PASSWORD: changeme
BACKUP_DIR: /backup
WEBSITE_DIRECTUS_TOKEN: 1234

SMTP_COMMUNICATION_PASSWORD: changeme
SMTP_IT_PASSWORD: changeme