{
	email it.clic@epfl.ch
}

https://clic.epfl.ch {
	handle_path /nextcloud* {
		header {
			Strict-Transport-Security max-age=31536000;
		}

		reverse_proxy http://0.0.0.0:8005
	}

	handle /.well-known {
		redir /.well-known/carddav /nextcloud/remote.php/dav/ permanent
		redir /.well-known/caldav /nextcloud/remote.php/dav/ permanent
	}

	reverse_proxy /clicketing/api* http://0.0.0.0:8006
	reverse_proxy /clicketing* http://0.0.0.0:8007

	reverse_proxy /mattermost* http://0.0.0.0:8004

	redir /armoire /armoire/ permanent
	reverse_proxy /armoire/* http://0.0.0.0:8003

	handle_path /bookstack* {
		reverse_proxy http://0.0.0.0:8002
	}

	handle_path /directus* {
		reverse_proxy http://0.0.0.0:8001
	}

	reverse_proxy /dev* http://0.0.0.0:8008

	reverse_proxy /* http://0.0.0.0:8000

	redir /wiki* https://clic.epfl.ch:8443/
}

https://www.icelan.ch {
	reverse_proxy http://0.0.0.0:8009
}

https://clic.epfl.ch:8443 {
	reverse_proxy /* http://0.0.0.0:8010
}
