https://clic.epfl.ch {
	handle_path /nextcloud* {
		header {
			Strict-Transport-Security max-age=31536000;
		}

		reverse_proxy http://nextcloud:80
	}

	handle /.well-known {
		redir /.well-known/carddav /nextcloud/remote.php/dav/ permanent
		redir /.well-known/caldav /nextcloud/remote.php/dav/ permanent
	}

	handle_path /bookstack* {
		reverse_proxy http://bookstack:80
	}

	reverse_proxy /clicketing/api* http://clicketing-backend:8000
	reverse_proxy /clicketing* http://clicketing-frontend:3000

	reverse_proxy /mattermost* http://mattermost:8065

	redir /armoire /armoire/ permanent
	reverse_proxy /armoire/* http://vaultwarden:80

	reverse_proxy /* http://website:8000

	redir /wiki* https://clic.epfl.ch:8443/
}

https://clic.epfl.ch:8443 {
	reverse_proxy /* http://wiki:80
}
