[Unit]
Description=Webhook for deployment
After=network.target

[Service]
Type=Simple
Restart=always
ExecStart=/usr/local/bin/webhook
Environment=CONFIG_PATH=/etc/webhook/config.json
Environment=RUST_LOG=trace

[Install]
WantedBy=multi-user.target
