{
	email it.clic@epfl.ch
}

https://clic.epfl.ch {
	respond /googlec6cc9bda0ca2d073.html "google-site-verification: googlec6cc9bda0ca2d073.html"

	redir /nextclic* /nextcloud
	handle_path /nextcloud* {
		header {
			Strict-Transport-Security max-age=31536000;
			>X-Robots-Tag "noindex, nofollow"
			>X-Permitted-Cross-Domain-Policies none
		}

		reverse_proxy http://0.0.0.0:8005
	}

	# Hardfix for https://github.com/nextcloud/user_oidc/issues/545, waiting for the update.
	header /nextcloud/apps/user_oidc/code >Location (.*) "/nextcloud$1"

	redir /.well-known/carddav /nextcloud/remote.php/dav permanent
	redir /.well-known/caldav /nextcloud/remote.php/dav permanent
	redir /.well-known/webfinger /nextcloud/index.php/.well-known/webfinger permanent
	redir /.well-known/nodeinfo /nextcloud/index.php/.well-known/nodeinfo permanent

	reverse_proxy /clicketing/api* http://0.0.0.0:8006
	reverse_proxy /clicketing* http://0.0.0.0:8007

	reverse_proxy /keyclic* http://0.0.0.0:8008
	redir /me https://clic.epfl.ch/keyclic/realms/master/account/ permanent

	reverse_proxy /mattermost* http://0.0.0.0:8004

	reverse_proxy /_matrix/* http://0.0.0.0:8011
	reverse_proxy /_synapse/client/* http://0.0.0.0:8011

	redir /vaultwarden* /armoire/
	redir /bitwarden* /armoire/
	redir /armoire /armoire/ permanent
	reverse_proxy /armoire/* http://0.0.0.0:8003

	handle_path /bookstack* {
		redir * /wiclic{uri} permanent
	}

	redir /wiki* /wiclic

	handle_path /wiclic* {
		reverse_proxy http://0.0.0.0:8002
	}

	handle_path /directus* {
		reverse_proxy http://0.0.0.0:8001
	}

	handle_path /crabfit/api* {
		reverse_proxy http://0.0.0.0:8012
	}
	reverse_proxy /crabfit* http://0.0.0.0:8013

	handle_path /s4s/api* {
		reverse_proxy http://0.0.0.0:8014
	}
	reverse_proxy /s4s* http://0.0.0.0:8015

	reverse_proxy /* http://0.0.0.0:8000
}

# Github Webhooks
https://clic.epfl.ch:4000 {
	reverse_proxy http://0.0.0.0:4001
}

# OnlyOffice
https://clic.epfl.ch:7000 {
	reverse_proxy http://0.0.0.0:9000
}

https://www.icelan.ch {
	reverse_proxy http://0.0.0.0:8009
}
