{
  "secret": "{{ service.github.secret }}",
  "github_access_token": "{{ service.github.access_token }}",
  "github_assignees": {{ service.github.assignees }},
  "default": {
    "start_command": "ansible-pull -U {{ service.repository }} -e @{{ service.secrets_file }} deploy.yaml --extra-vars SERVICES=$SERVICE"
  },
  "services": {
    {{ webhook_services }},
    "test": {
      "start_command": "exit this in an error && exit 1"
    }
  }
}
