version: "3.6"

services:
  keycloak:
    image: quay.io/keycloak/keycloak:26.1
    environment:
      KC_DB: postgres
      KC_DB_URL: jdbc:postgresql://database:5432/keycloak
      KC_DB_USERNAME: keycloak
      KC_DB_PASSWORD: ${DB_PASSWORD}

      KC_FRONTEND_URL: https://clic.epfl.ch/keyclic/auth
      KC_HOSTNAME: https://clic.epfl.ch/keyclic
      KC_HOSTNAME_ADMIN: https://clic.epfl.ch/keyclic
      KC_HOSTNAME_URL: https://clic.epfl.ch/keyclic
      KC_HOSTNAME_ADMIN_URL: https://clic.epfl.ch/keyclic
      KC_HOSTNAME_STRICT: "true"

      KC_HTTP_ENABLED: "true"
      KC_HTTP_RELATIVE_PATH: /keyclic
      KC_HTTPS_PORT: 443
      KC_PROXY: edge

      KC_LOG_LEVEL: info
      KC_METRICS_ENABLED: "true"
      KC_HEALTH_ENABLED: "true"
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: ${ADMIN_PASSWORD}
    volumes:
      - ${BASE_PATH}/files/clic_theme:/opt/keycloak/themes/clic_theme
      - ${BASE_PATH}/files/clic_archive:/opt/keycloak/providers
    command: start
    depends_on:
      - database
    ports:
      - 8008:8080

  database:
    image: postgres:15
    hostname: database
    volumes:
      - data:/var/lib/postgresql/data
      - ${DB_INIT}:/docker-entrypoint-initdb.d
    environment:
      POSTGRES_DB: keycloak
      POSTGRES_USER: keycloak
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - 5006:5432

volumes:
  data:
  clic_theme:
  clic_archive:
